{% extends 'main/base.html' %}
{% block title %}Log in{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Log in</li>
  </ol>
</nav>
	<h3 class="mt-2">Log in to your account</h3>
	<br>
    <form method="post" class="form-group">
	{% csrf_token %}
	{{form|crispy}}
	<p>Don't have an account yet? Create one <a href="/register">here</a></p>
	<button type="submit" class="btn btn-success">Login</button>	
    </form>
{% endblock %}