{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
{% if user.is_authenticated %}
<div class="alert alert-primary">You are logged in as {{ user.username }}.</div>

<h2>Upload a video</h2>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group">
    <label >Please upload a video to analyze:</label>
    <input type="file" class="form-control-file" name="document">
  </div>
<button class="btn btn-success" type="submit">Upload</button>
</form>
{% if messages %}
    {% for message in messages %} 
    <br>
    <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% else %}
<h4>Please <a href="/login">log in</a> or <a href="/register">register</a> to use the video analyzer.</h4>


{% endif %}

{% endblock %}