{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h2>Home</h2>
{% if user.is_authenticated %}
<h5>Hello, {{ user.username }}.</h5>

<br>
<h2>Upload a video</h2>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="form-group">
    <label >Please upload a video to analyze:</label>
    <input type="file" class="form-control-file" name="document">
  </div>
<button class="btn btn-success" type="submit">Upload</button>
</form>

{% if messages %}
    {% for message in messages %} 
    <br>
    <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% endif %}

{% endblock %}