{% extends 'main/base.html' %}

{% block title %}
Your videos
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Videos</li>
  </ol>
</nav>
<h2>Your videos</h2>
{% if user.is_authenticated %}<h5>Hi, {{ user.username }}. Here are your videos:</h5>{% endif %} 

{% if videos %}
    <div class="card-deck">
    {% for video in videos %}
    <div class="card" style="width: 18rem;">
          <img src="{{MEDIA_URL}}/media/thumbnails/{{video}}.png" class="card-img-top" alt="placeholder">
        <div class="card-body">
            <h5 class="card-title">{{ video }}</h5>
            <a href="{{ video.id }}" class="btn btn-primary">Analyze</a>
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <br>
    <div class="alert alert-warning" role="alert">
        No video available. Please upload a video <a href="/">here</a>.
    </div>
{% endif%}

{% endblock %}