{% extends 'main/base.html' %}

{% block title %}
Your videos
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Videos</li>
  </ol>
</nav>
<h2>Your videos</h2>
{% if user.is_authenticated %}<h5>Hi, {{ user.username }}. Here are your videos:</h5>{% endif %} 

{% if videos %}
    <div class="container-fluid content-row mt-3">
      <div class="row">
        {% for video in videos %}
        <div class="card mb-3 ml-3" style="width: 320px;">
              <img style="width: 320px;" src="{{MEDIA_URL}}/media/thumbnails/{{video}}.png" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">{{ video }}</h5>
                <a href="{{ video.id }}" class="btn btn-primary">Analyze</a>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
    <br>
    <div class="alert alert-warning" role="alert">
        No video available. Please upload a video <a href="/">here</a>.
    </div>
{% endif%}

{% endblock %}