{% extends 'main/base.html' %}

{% block title %}
Your video
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="/videos">Videos</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ video }}</li>
  </ol>
</nav>
<h2>{{ video }}</h2>
{% if user.is_authenticated %}<h5>Hi, {{ user.username }}. Here is your video:</h5>{% endif %} 

{% if video %}
    <video width="320" height="240" controls>
        <source src="{{MEDIA_URL}}/media/videos/{{video}}">
        Your browser does not support the video tag.
    </video>
    {% else %}
    <br>
    <div class="alert alert-warning" role="alert">
        No video available. Please upload a video <a href="/">here</a>.
    </div>
{% endif%}

{% endblock %}